.container {
    /* min-width: 800px; */

    background-color:#e7e9eb;
    /* display: fixed; */
    margin-top: 50px;
    margin-left: 260px;
    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: 20px;
    height: fit-content;

    width:1590px;

    /* margin-left: 200px; */
}

.form {
    margin-left: 40px;
    margin-right: 80px;
    padding-right: 30px;
}

.productContainer {
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;
    margin-left: 250px;
    margin-top: 20px;


    width: 1590px;
}

.yourcustomstyles table thead {
    font-size: 16px;
    font-weight: 400;
    border: none;


}

.yourcustomstyles tbody tr td {
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-top: navy;
}

.containertwo {
    /* min-width: 800px; */

    background-color:#e7e9eb;
    /* display: fixed; */
    margin-top: 50px;
    margin-left: 250px;
  
    height: 0px;
    height: fit-content;
    min-height: 100px;

    width: 1590px;

    /* margin-left: 200px; */
}

.conOne {
    background-color: #d0daf9;
    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;
    border-radius: 8px;

    min-height: 90px;
    width: 390px;
}

.conTwo {
    background-color:#f9d0d3;
    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;
    border-radius: 8px;

    min-height: 90px;
    width: 390px;
}

.conThree {
    background-color:#f9e4d0;
    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;
    border-radius: 8px;

    min-height: 90px;
    width: 390px;
}

.tableContainer {
    background-color: rgb(255, 255, 255);
    /* display: fixed; */
 

    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;



    width: 1590px;
    margin-top: 30px;
    margin-left: 265px;;
    margin-bottom: 25px;


}

.tableContainertwo {

    background-color: rgb(255, 255, 255);
    /* display: fixed; */


    box-shadow: 0px 3px 2px 0px #dbd6d6;
    height: fit-content;



    width: 1210px;
    margin-top: 490px;
  
    margin-bottom: 25px;

}
